streamlit
python-dotenv
pdfplumber
python-docx
faiss-cpu
sentence-transformers
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-openai
langchain_community
langchain_text_splitters
python-dateutil
